* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

/* HEADER */

header {
    background-color:rgb(0, 0, 0) ;
}

.Header-Container {
    display: flex;
    justify-content: right;
}

.Icons-Color {
    background-color: grey;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

header div {
    display: inline-block;
    padding: 10px;
}

/* MAIN */

main {
    background-color: black;
}

.Main-Container {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

.Main-Big-Col {
    display: flex;
    flex-wrap: wrap;
}

.Main-Lil-Col {
    position: relative;
    display: flex;
    width: calc(100%/7);
    margin-top: 10px;
    padding: 2px;
}

.Img-Clone {
    display: flex;
    width: 100%;
}

.Microphone {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 1.2vW;
    bottom: 0;
    left: 0;
    padding: 3px;
}


/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(65, 65, 65);
    height: 80px;
    color: white;
}

.Elements {
    text-align: center;
    padding: 15px 5px;
}

.Icon {
    font-size: 2vw;
}

.Icon-Small {
    font-size: 1vw;
}

.Icon-Text {
    font-size: 1.2vw;
}


.Footer-Start {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


.Footer-Mid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

}

.Footer-End {
    background-color: rgb(110, 110, 110);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
}
